<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
    <h2>Forgot Password</h2>

    {% if message %}
       <p style="color:red;">{{ message }}</p>
    {% endif %}

    <form method="POST">
        <label>Email:</label><br>
        <input type="text" name="email"><br><br>
        <button type="submit">Generate Reset Link</button>
    </form>

    {% if link %}
        <p>Reset link:</p>
        <a href="{{ link }}">{{ link }}</a>
    {% endif %}
</body>
</html>
